*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
input,
textarea {
    font-family: 'Poppins', sans-serif;
    outline: none;
}

header {

    width: 100%;
    height: 100vh;
    /*background-color: sandybrown;*/
    /*background-image: url('media/background.jpg');
    background-position: center;
    background-size: cover;
    /*opacity: 0.7;*/

}



/*----First Section----*/

#first-section{

    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(197, 214, 247);

}

#main-text-wrapper{

    /*width: 100%;;
    height: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 120px;
}

#main-text-wrapper>h1{

    width:100%;
    max-width: 1100px;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 7px;
    line-height: 1.2;
    text-align: center;
    margin-top: 20px;
    animation-name: text;
    animation-duration: 2s;

}

#main-text-wrapper>p{

    animation-name: text-appear;
    animation-duration: 2.5s;
    width:100%;
    max-width: 400px;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    visibility: visible;
    margin-bottom: 20px;

}
#first-sec-img{

    width: 700px;
    margin: 50px 20px 0px 0px;

}
#motto-wrapper{
    display: flex;
}
.motto-item{
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(133, 154, 196);
    margin: 0px 5px;
}
.motto-item i{
    font-size: 25px;
    padding: 5px;
}
.motto-item p{
    font-size: 20px;
}


@keyframes text{

    0%{
        color: black;
        margin-bottom: -60px;
        
    } 35% {
        
        letter-spacing: 12px;
        margin-bottom: -60px;
        
    } 80% {
        
        letter-spacing: 4px;
        margin-bottom: -60px;
        
    }

}

@keyframes text-appear{

    0%{
        visibility: hidden;
        opacity: 0;
    } 80%{
        visibility: visible;
        opacity: 0;
    }100%{
        opacity: 1;
    }

}

/*----Home Section----*/
#home-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(222, 159, 241);
    padding: 50px;
}
.home-section-heading{
    font-size:35px;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px;
    padding-top:20px;
}

.home-section-after-heading{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding: 10px;
}

#home-section-container{
    display: flex;
}
#home-section-container>img{
    width: 40%;
    padding: 40px;
}
#home-section-container-content-wrapper{
    display: flex;
    flex-direction: column;
    padding: 40px;
}
.home-section-container-content{
    padding: 10px;
}

/*----Second Section----*/

#second-section{

    width: 100%;
    display: flex;
    justify-content: stretch;

}

.step-item{

    width: 25%;
    text-align: center;
    padding: 115px 20px;
    color: white;

}

.step-item i{

    font-size: 90px;
    padding: 10px;
    transition: all 0.3s;

}

.step-item:hover i{
    transform: scale(1.2,1.2)
}

.step-item h3{

    font-weight: 600;
    font-size: 35px;

}

.step-item p{

    font-size: 15px;
    letter-spacing: 0.7px;
    line-height: 1.6;
    margin-top: 0;

}

#first-step {
    background-color: #e4b476;
}
#second-step {
    background-color: #5acda6;
}
#third-step {
    background-color: #9ddaf6;
}
#fourth-step {
    background-color: #91ac41;
}

/*-----Third Section-----*/

#third-section{

    width: 100%;
    background: #f7eee2;
    padding: 75px 0px;
    text-align: center;

}

.before-heading {

    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 25px;

}

.heading {
    font-size: 34px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 8px;
    letter-spacing: 3px;
}

.after-heading {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 55px;
}

#item-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;

    margin: 0 auto;
}

.item{
    width: 25%;
    text-align: center;
    padding: 25px;
}

.icon-wrapper {
    display: inline-block;
    background-color: #e3b375;
    border-radius: 50%;
    padding: 40px;
    color: white;
    transition: all 0.3s;
}
.item:hover .icon-wrapper {
    transform: scale(1.1, 1.1);
}
.icon-wrapper i {
    font-size: 60px;
}

.item h3 {
    font-size: 24px;
    font-weight: 600;
    padding: 20px;
}
.item p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
    padding-bottom: 0px px;
}

/*----Fourth Section----*/

#fourth-section{

    width: 100%;
    text-align: center;
    padding: 75px 0px;

}

#team-wrapper{

    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.team-item{

    width:25%;
    text-align:center;
    background-color: #f5f6fb;
    padding: 30px;
    border-radius: 30px;

}
.team-item>div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;

}
.team-item div>i{
    font-size: 20px;
    padding: 5px;
}
.team-item div>i:nth-child(1){
    color: rgb(255, 38, 0);
}
.team-item div>i:nth-child(2){
    color: blue;
}
.team-item div>i:nth-child(3){
    color: rgb(161, 161, 8);
}
.team-item div>i:nth-child(4){
    color: purple;
}
.team-item div>i:nth-child(5){
    color:#195e83;
}
.member-img{
    width: 200px;
    border-radius: 50%;
}

.member-message {
    font-size: 14px;
    color: #8b8b99;
    letter-spacing: 0.5px;
    font-style: italic;
    padding: 10px;
    padding-bottom: 0px;
}

.member-item h3 {
    font-size: 15px;
    margin-top: 24px;
    margin-bottom: 0px;
    padding: 10px;
}


.member-designation {
    color: #8b8b99;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 10px;
}

/*----Fourth Section End----*/

/*---Nav Bar---*/

nav {

    top: 0;
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    opacity: 1.0;
    z-index: 1;

}
#hamburger-menu{
    display: none;
    position: absolute;
    top:1.7rem;
    right:1.7rem;
    cursor: pointer;
}

.bar{

    height: 4px;
    width: 30px;
    margin:2px;
    background: black;
    border-radius: 5px;
    display: block;
    transition: all 0.2s;

}

.change #bar1{
    transform: translateY(8px) rotateZ(-45deg);
}
.change #bar3{
    transform: translateY(-8px) rotateZ(+45deg);
}
.change #bar2{
    opacity: 0;
}
#logo img{
    width: 45px;
    padding: 5px;
}

nav div{
    display: flex;
}

.menu-item{
    margin: 0px 2px;
}

.menu-item a {

    color: black;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none; 
    padding: 0 30px;

}

nav a:hover,
section#home-section:hover ~ nav a[href="#home-section"],
section#second-section:hover ~ nav a[href="#home-section"],
section#third-section:hover ~ nav a[href="#third-section"],
section#fourth-section:hover ~ nav a[href="#fourth-section"],
section#contact-us-section:hover ~ nav a[href="#contact-us-section"]
{

    background-color: cornflowerblue;
    border-radius: 10px;
    color: white;

}

/*----Navbar End----*/

/*-----Footer----*/

footer{
    width: 100%;
    text-align: center;
    background: black;
}
footer p{
    letter-spacing: 1px;
    font-size: 20px;
    padding: 20px;
    color: white;
}

footer p i{
    color: rgb(255, 0, 0);
}

/*-----Contact Us-----*/
#contact-us-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(182, 209, 138);
}
#contact-us-heading{
    font-size: 44px;
    padding-top:30px;
    font-weight: 600;
    letter-spacing: 3px;
}

#contact-us-after-heading{
    font-family: 'Caveat', cursive;
    font-size: 30px;
    padding: 10px
}
#contact-us-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#contact-us-wrapper>img{
    width: 40%;
    padding: 20px;
}
#social-media{
    width:20%;
    padding: 20px;
    display: grid;
    grid-template-columns: 140px 140px;
    grid-template-rows: 140px 140px;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}
#social-media>a{
    height: 100%;
    width:100%;
    text-decoration:none;
    text-align: center;
    border-radius: 50%;
    background-color: #4b9c68;
    transition: all .3s;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#social-media a p{
    margin-bottom: -10px;
    margin-top:10px
}
#social-media a i{
    font-size: 40px;
    color: white;
    justify-content: center;
    align-items: center;
}
#social-media>a:hover{
    transform: scale(1.1,1.1);
}


/*---- Large Tablets----*/

@media(max-width:1283px) and (min-width:1000px){
    #first-section{
        flex-direction: column;
        justify-content: center;
    }
    #main-text-wrapper{
        align-self: center;
    }
    #main-text-wrapper>h1{
        font-size: 80px;
    }
    #main-text-wrapper>p{
        font-size: 30px;
        max-width: 700px;
    }
    #first-sec-img{
        width: 450px;
        margin: 50px;
    }
    .motto-item{
        height: 170px;
        width: 170px;
    }
    .motto-item i{
        font-size: 50px;
    }
    .motto-item p{
        font-size: 35px;
    }
}



/*----Tablets----*/
@media (max-width:1000px) and (min-width:700px){

    header{
        background-position: 47% 0%;
    }
    #first-section{
        flex-direction: column;
        justify-content: center;
    }
    #main-text-wrapper{
        justify-self: flex-start;
    }
    #first-sec-img{
        width: 450px;
        margin: 50px;
    }

    #main-text-wrapper>h1{
        font-size: 35px;
        letter-spacing: 4px;
    } 
    #main-text-wrapper>p{
        font-size: 27px;
        max-width: 550px;
        margin-bottom: 150px;
    }
    @keyframes text{
        0%{
            color: black;
            margin-bottom: -60px;
        } 35% {
            letter-spacing: 7px;
            margin-bottom: -60px;
        } 80% {
            letter-spacing: 5x;
            margin-bottom: -60px;
        }
    
    }
    #second-section{
        width: 100%;
        flex-direction: column;
    }
    .step-item{
        width: 100%;
    }
    .step-item p{
        font-size: 20px;
    }

    #item-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item{
        width:90%; 
        max-width: 700px;
    }
    .heading{
        font-size: 55px;
    }
    .after-heading{
        
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        text-align: center;
        
    }
    .item>h3,.item>p{
        padding: 10px;
    }
    #team-wrapper{
        flex-direction: column;
    }
    .team-item{
        width: 80%;
    }
    .team-item>p {
        padding: 10px;
    } 

}



/*----Mobile Screens----*/
@media (max-width:700px) and (min-width:350px){

    header{
        background-position: 47% 0%;
    }
    #first-section{
        flex-direction: column;
        justify-content: space-around;
    }
    #main-text-wrapper{
        justify-self: flex-start;
    }
    #first-sec-img{
        width: 350px;
        margin: 50px;
        margin-top: 10px;
    }
    #nav-links{
        display: none; 
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0px;
       
    }
    #nav-links.change{
        display: flex;
    }
    #hamburger-menu{
        display: flex;
        flex-direction: column;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    nav .menu-item{
        width: 100%;
        text-align: center;
        padding: 3px;
    }
    nav .menu-item a{
        padding: 10px;
        width: 100%;
        
    }
    #main-text-wrapper>h1{
        font-size: 25px;
        letter-spacing: 4px;
        margin-top: 0px;
    } 
    #main-text-wrapper>p{
        font-size: 13px;
        max-width: 250px;
        margin-bottom: 20px;
    }
    .motto-item{
        height: 70px;
        width: 70px;
    }
    .motto-item i{
        font-size: 20px;
    }
    .motto-item p{
        font-size: 15px;
    }
    @keyframes text{
        0%{
            color: black;
            margin-bottom: -60px;
        } 35% {
            letter-spacing: 7px;
            margin-bottom: -60px;
        } 80% {
            letter-spacing: 5x;
            margin-bottom: -60px;
        }
    
    }
    .home-section-heading{
        font-size: 29px;
    }
    #home-section-container{
        flex-direction: column;
        padding-top: 15px;

    }
    #home-section-container>img{
        padding-top: 15px;
        width:300px;
    }
    #home-section-container-content-wrapper{
        padding: 5px;
    }
    #second-section{
        width: 100%;
        flex-direction: column;
    }
    .step-item{
        width: 100%;
    }
    #item-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item{
        width:90%; 
        max-width: 700px;
    }
    .heading{
        font-size: 35px;
    }
    .after-heading{
        
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        text-align: center;
        
    }
    .item>h3,.item>p{
        padding: 10px;
    }
    #team-wrapper{
        flex-direction: column;
    }
    .team-item{
        width: 80%;
    }
    .team-item>p {
        padding: 10px;
    } 
    footer p{
        font-size: 15px;
        padding: 15px;
    }
    #contact-us-wrapper{
        flex-direction: column;
    }
    #social-media{
        grid-template-columns: 90px 90px;
        grid-template-rows: 90px 90px;
    }
    #social-media a p{
        margin-bottom: -5px;
        margin-top:5px;
        font-size: 12px;
    }
    #social-media a i{
        font-size: 24px;
        
    }
    #contact-us-wrapper>img{
        width: 300px;
    }
    

}
/*----Very small devices----*/
@media (max-width:350px) {

    header{
        background-position: 47% 0%;
        
    }
    #first-section{
        flex-direction: column;
        justify-content: space-around;
    }
    #main-text-wrapper{
        justify-self: flex-start;
    }
    #first-sec-img{
        width: 320px;
        margin: 50px;
        margin-top: 10px;
    }
    
    #nav-links{
        display: none; 
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 0px;
       
    }
    #nav-links.change{
        display: flex;
    }
    #hamburger-menu{
        display: flex;
        flex-direction: column;
    }
    nav{
        flex-direction: column;
        align-items: flex-start;
    }
    nav .menu-item{
        width: 100%;
        text-align: center;
        padding: 3px;
    }
    nav .menu-item a{
        padding: 10px;
        width: 100%;
        
    }
    #main-text-wrapper>h1{
        font-size: 20px;
        letter-spacing: 4px;
    } 
    #main-text-wrapper>p{
        font-size: 13px;
        max-width: 250px;
        margin-bottom: 30px;
    }
    .motto-item{
        height: 65px;
        width: 65px;
    }
    .motto-item i{
        font-size: 20px;
    }
    .motto-item p{
        font-size: 11px;
    }
    @keyframes text{
        0%{
            color: black;
            margin-bottom: -60px;
        } 35% {
            letter-spacing: 5px;
            margin-bottom: -60px;
        } 80% {
            letter-spacing: 2px;
            margin-bottom: -60px;
        }
    
    }
    .home-section-heading{
        font-size: 25px;
    }
    #home-section-container{
        flex-direction: column;
        padding-top: 12px;

    }
    #home-section-container>img{
        padding-top: 12px;
        width:275px;
    }
    #home-section-container-content-wrapper{
        padding: 5px;
    }
    #second-section{
        width: 100%;
        flex-direction: column;
    }
    .step-item{
        width: 100%;
    }
    #item-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .item{
        width:90%; 
        max-width: 700px;
    }
    .heading{
        font-size: 35px;
    }
    .after-heading{
        
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        text-align: center;
        
    }
    .item>h3,.item>p{
        padding: 10px;
    }
    #team-wrapper{
        flex-direction: column;
    }
    .team-item{
        width: 80%;
    }
    .team-item>p {
        padding: 10px;
    } 
    footer p{
        font-size: 14px;
        padding: 14px;
    }
    #contact-us-wrapper{
        flex-direction: column;
    }
    #social-media{
        grid-template-columns: 80px 80px;
        grid-template-rows: 80px 80px;
    }
    #social-media a p{
        margin-bottom: -5px;
        margin-top:5px;
        font-size: 10px;
    }
    #social-media a i{
        font-size: 20px;
        
    }
    #contact-us-wrapper>img{
        width: 250px;
    }

}




